:root {
    --star-size: 20px;
    --star-background: #fc0;
}

body,
input {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog__item {
    background-color: #efefef;
    max-width: 25%;
    position: relative;
}

.catalog__item_opaque {
    opacity: 0.5;
}

.catalog__item_invisible {
    display: none;
}

.catalog__item-content {
    margin: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    height: calc(100% - 40px);
}

.catalog__item-content-upper {
    display: flex;
    justify-content: center;
}

.catalog__item-img {
    max-width: 100%;
    max-height: 100%;
    margin: 34px 45px 0px;
}

.catalog__item-caption {
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;
    max-width: 100%;
    transition: all 0.3s ease;
    max-height: 100%;
}

.catalog__item-caption-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.catalog__item-caption-line-category {
    color: #c5c5c5;
    text-transform: uppercase;
}

.catalog__item-caption-line-price {
    font-weight: bold;
}

.catalog__item-cart-button {
    padding: 10px;
    margin: auto;
    background-color: #62a2d2;
    color: #fff;
    display: none;
    border: none;
    max-width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.catalog__item:hover .catalog__item-cart-button {
    display: block;
    opacity: 1;
}

.catalog__item-cart-button:hover, .filter-button:hover {
    background-color: #5b92bc;
}

.catalog__item:hover .catalog__item-caption {
    transition: translateY(-5%);
    margin-top: auto;
}

.catalog__item:hover .catalog__item-content {
    height: calc(90% - 40px);
}

.catalog__item-content-icons {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.catalog__item:hover .catalog__item-content-icons {
    visibility: visible;
}

.catalog__item-content-icon {
    background-color: #eee;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.catalog__item-content-icon:hover {
    background-color: #989e99;
}

.catalog__item-content-icon_active {
    background-color: #62a2d2;
    color: #fff;
}

.catalog__item-content-icon_active:hover {
    background-color: #005ce6;
    color: #fff;
}

.catalog__item-content-icon_active:hover i {
    background-color: #005ce6;
    color: #fff;
}

.catalog__item-rating-stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: block;
    font-size: var(--star-size);
    line-height: 1;
    width: fit-content;
    position: relative;
    margin: 0 auto;
}

.catalog__item-rating-stars::before {
    content: '★★★★★';
    background:
        linear-gradient(90deg, var(--star-background) 0%, var(--star-background) var(--percent), #989e99 var(--percent), #989e99 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.filter {
    column-gap: 10px;
}

.filter-button {
    padding: 10px;
    margin: 10px;
    background-color: #62a2d2;
    color: #fff;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.filter-button_active {
    background-color: #005ce6;
    color: #fff;
}